<div class="card text-center mb-3 mx-2" style="width: 30%;">
  <%= link_to listing_path(listing), class: "text-decoration-none" do %>
    <img src="https://source.unsplash.com/200x200/?sneaker" class="card-img-top" alt="sneaker image">
    <div class="card-body mb-4 mt-1">

      <h3 class="card-title my-1"><%= listing.sneaker_model_name %></h3>

      <p class="card-text"><strong>$ <%= listing.price %></strong></p>
    </div>
  <% end %>
</div>
