<h1>Banner here</h1>

<div class="container">
  <% if @query %>
    <%= render 'query' %>
  <% end %>

  <div class="row">
    <% if @listings.empty? %>
      <p class="pl-4"><em>0 results found</em></p>
    <% else %>
      <%= render @listings %>
    <% end %>
  </div>
</div>
