<div class="border px-5">
  <h2 class="py-3">Order detail</h2>
  <img class="img-fluid" src="https://source.unsplash.com/450x450/?sneaker" alt="sneakers">
  <div class='my-2'>
    <p class='m-0'>Item: <%=  @listing.sneaker_model_name %></p>
    <p class='m-0'>Brand: <%=  @listing.brand%></p>
    <p class='m-0'>Size: <%= @listing.size %></p>
    <p class='m-0'>Price: <%= @listing.price %></p>
  </div>
</div>
