<div class="bg-primary py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <span class="footer-title">Buy</span>
        <%= link_to 'All listings', root_path %>
      </div>

      <div class="col-12 col-md-3">
        <span class="footer-title">Sell</span>
      </div>
      <div class="col-12 col-md-6">
        <span class="footer-title">Sign up for discounts, promotions, and more.</span>
      </div>
    </div>
  </div>
</div>
