<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <div class="border px-5">
        <div class="py-3">
          <h2>Checkout canceled</h2>
          <p>Need to make any changes to your order?</p>
          <%= link_to "Return to checkout page", checkout_path(@order.listing), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div>
      <div class="col-4">
        <%= render "shared/checkoutitem", listing: @order.listing %>
      </div>
    </div>
  </div>
</div>
