footer {
  margin-top: auto;
}
.footer a {
  font-size: 14px;
  margin-bottom: 8px;
  color: white;
}

.footer-title {
  color: gray;
}

.footer-logo img {
  width: 100px;
  margin-left: -5px;
}
.footer-btn {
  outline: none;
  border: none;
}
